<!DOCTYPE html>
{% load staticfiles %}
<html>
  <head>
    <title>All Puzzles Dashboard</title>
    <meta http-equiv="refresh" content="30">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <style type="text/css">
      th { text-align: left; }
      .f { padding: 0px 5px; }
      .n { text-align: right; }
      .d { text-align: right; }
      .p { text-align: right; padding: 0px 5px; }
      .p_unreleased { background: #eee; color: #666; }
      .p_no_data { background: #fff; }
      .p_good { background: #efe; }
      .p_meh { background: #ffe; }
      .g { width: 100px; padding: 0px 15px 0px 0px; }
      .gb{ background: #000; height: 5px; }
    </style>
  </head>
  <body>
    <div style="font: 10pt monospace">
      <em>(This may be several minutes behind, last updated {{ updated|date:'D H:i' }})</em>
      <form style="display: inline;">
	<label for="auto-refresh">
	  (auto-refresh:<input id="auto-refresh" type="checkbox" name="auto-refresh" checked />)
	</label>
      </form>
      <div style="float: right;">
	<a href="/">Back to HQ Main</a>
      </div>
      <div>
	{{ t_total }} teams,
	{{ metas|length }} metas,
	{{ p_total }} puzzles,
	{{ i_total }} interactions
      </div>
      <table style="border-collapse: collapse;">
	<tr>
	  <td>Overall released:</td>
	  <td class="n">{{ p_released }}</td>
	  <td>/</td>
	  <td class="d">{{ p_total }}</td>
	  <td class="p">{{ p_releasedp }}%</td>
	  <td style="background: aliceblue; width: {{ p_total4 }}px"><div class="gb" style="width: {{ p_released4 }}px"></div></td>
	</tr>
	<tr>
	  <td>Overall solved:</td>
	  <td class="n">{{ p_solved }}</td>
	  <td>/</td>
	  <td class="d">{{ p_total }}</td>
	  <td class="p">{{ p_solvedp }}%</td>
	  <td style="background: aliceblue; width: {{ p_total4 }}px"><div class="gb" style="width: {{ p_solved4 }}px"></div></td>
	</tr>
      </table>
      <table style="border-collapse: collapse;">
	<tr>
	  <th>Name</th>
	  <th>Info</th>
	  <th class="f">First Release</th>
	  <th colspan="5">Releases</th>
	  <th colspan="5">Solves</th>
	  <th>Surveys</th>
	</tr>
	{% for meta in metas %}
	<tr style="border-top: 1px solid black;">
	  <td colspan="2">
	    <b>{{ meta.meta.name }}</b>
	  </td>

	  <td class="f">{{ meta.first|date:'D H:i' }}</td>

	  <td class="n">{{ meta.released }}</td>
	  <td>/</td>
	  <td class="d">{{ t_total }}</td>
	  <td class="p">{% if meta.releasedp != '-' %}{{ meta.releasedp }}%{% else %}-{% endif %}</td>
          <td class="g">{% if meta.releasedp != '-' %}<div class="gb" style="width: {{ meta.releasedp }}px;"></div>{% else %}-{% endif %}</td>

	  <td class="n">{{ meta.solved }}</td>
	  <td>/</td>
	  <td class="d">{{ meta.released }}</td>
	  <td class="p">{% if meta.solvedp != '-' %}{{ meta.solvedp }}%{% else %}-{% endif %}</td>
          <td class="g">{% if meta.solvedp != '-' %}<div class="gb" style="width: {{ meta.solvedp }}px"></div>{% else %}-{% endif %}</td>
	  
	  <td></td>

	</tr>
	{% for puzzle in meta.puzzles %}
	<tr class={% if puzzle.released %}{% if puzzle.solvedp != '-' %}{% if puzzle.solvedp >= 20 %}p_good{% else %}p_meh{% endif %}{% else %}p_nodata{% endif %}{% else %}p_unreleased{% endif %}>
	  <td>
	    {{ puzzle.puzzle.name|truncatechars:40 }}
	  </td>
	  <td>
	    {{ puzzle.info }}
	  </td>

	  <td class="f">{{ puzzle.first|date:'D H:i' }}</td>

	  <td class="n">{{ puzzle.released }}</td>
	  <td>/</td>
	  <td class="d">{{ t_total }}</td>
	  <td class="p">{% if puzzle.releasedp != '-' %}{{ puzzle.releasedp }}%{% else %}-{% endif %}</td>
          <td class="g">{% if puzzle.releasedp != '-' %}<div class="gb" style="width: {{ puzzle.releasedp }}px"></div>{% else %}-{% endif %}</td>

	  <td class="n">{{ puzzle.solved }}</td>
	  <td>/</td>
	  <td class="d">{{ puzzle.released }}</td>
	  <td class="p">{% if puzzle.solvedp != '-' %}{{ puzzle.solvedp }}%{% else %}-{% endif %}</td>
          <td class="g">{% if puzzle.solvedp != '-' %}<div class="gb" style="width: {{ puzzle.solvedp }}px"></div>{% else %}-{% endif %}</td>

	  <td>{{ puzzle.surveys }}</td>

	</tr>
	{% endfor %}
	{% endfor %}
	<tr style="border-top: 1px solid black;">
	  <td colspan="14">
	    <b>Interactions</b>
	  </td>
	</tr>
	{% for interaction in interactions %}
	<tr class={% if interaction.released %}{% if interaction.solvedp != '-' %}{% if interaction.solvedp >= 20 %}p_good{% else %}p_meh{% endif %}{% else %}p_nodata{% endif %}{% else %}p_unreleased{% endif %}>
	  <td>
	    {{ interaction.interaction.name|truncatechars:40 }}
	  </td>
	  <td>
	    {{ interaction.info }}
	  </td>

	  <td></td>

	  <td class="n">{{ interaction.released }}</td>
	  <td>/</td>
	  <td class="d">{{ t_total }}</td>
	  <td class="p">{% if interaction.releasedp != '-' %}{{ interaction.releasedp }}%{% else %}-{% endif %}</td>
          <td class="g">{% if interaction.releasedp != '-' %}<div class="gb" style="width: {{ interaction.releasedp }}px"></div>{% else %}-{% endif %}</td>

	  <td class="n">{{ interaction.solved }}</td>
	  <td>/</td>
	  <td class="d">{{ interaction.released }}</td>
	  <td class="p">{% if interaction.solvedp != '-' %}{{ interaction.solvedp }}%{% else %}-{% endif %}</td>
          <td class="g">{% if interaction.solvedp != '-' %}<div class="gb" style="width: {{ interaction.solvedp }}px"></div>{% else %}-{% endif %}</td>

	  <td></td>

	</tr>
	{% endfor %}
      </table>
    </div>
    <script type="text/javascript">
      function r() {
        var ar = document.getElementById("auto-refresh");
        if (ar.checked)
          window.location.reload(true);
      }
      setInterval(r, 30000);
    </script>
  </body>
</html>
