<!DOCTYPE html>
{% load staticfiles %}
<html>
  <head>
    <title>All Teams Dashboard</title>
    <meta http-equiv="refresh" content="30">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <style type="text/css">
      .msolved {
        background: #dfd;
      }
    </style>
  </head>
  <body>
    <em>(This may be several minutes behind)</em>
    <div style="font: 10pt monospace">
      <div>
	{{ teams|length }} teams,
	{{ r_total }} rounds,
	{{ p_total }} puzzles,
	{{ i_total }} interactions<br />
	{{ i_pending }} pending interactions among {{ i_teams }} teams //
	{{ q_total }} queue entries among {{ q_teams }} teams
      </div>
      {% for team in teams %}
      <div id="team_{{ team.team.url }}" class="team" style="border-top: 1px solid black; border-radius 5px; padding: 3px;">
	<table style="border-collapse: collapse; width: 100%">
	  <tr>
	    <td colspan="2"><b>{{ team.team.name|truncatechars:40 }}</b></td>
	    <td>events:</td>
	    <td class="{% if team.rounds.events.solved %}msolved{% endif %}">
	      <img title="Events" src="{% if team.rounds.events.solved %}{% static "r_solved.png" %}{% elif team.rounds.events.released %}{% static "r_released.png" %}{% else %}{% static "r_unreleased.png" %}{% endif %}" />
	      {% for puzzle in team.rounds.events.puzzles %}
	      <img title="{{ puzzle.puzzle.name }}" src="{% if puzzle.solved %}{% static "p_solved.png" %}{% elif puzzle.released %}{% static "p_released.png" %}{% else %}{% static "p_unreleased.png" %}{% endif %}" />
	      {% endfor %}
	    <td style="text-align: right;">inter.:</td>
	    <td>
	      {% for interaction in team.interactions %}
	      <img title="{{ interaction.interaction.name }}" src="{% if interaction.solved %}{% static "p_solved.png" %}{% elif interaction.released %}{% static "p_released.png" %}{% else %}{% static "p_unreleased.png" %}{% endif %}" />
	      {% endfor %}
	    </td>
	    <td>jabber:</td>
	    <td>
	      <img title="The Jabberwock's Secret Message" src="{% if team.j_solved %}{% static "p_solved.png" %}{% elif team.j_released %}{% static "p_released.png" %}{% else %}{% static "p_unreleased.png" %}{% endif %}" />
	      &nbsp;&nbsp;
	    </td>
	    <td colspan="2">
	      R:<b title="MIT Metas and Non-MIT Rounds Solved">{{ team.r_solved }}</b>/<span title="Non-MIT Rounds Released (+3 MIT Metas)">{{ team.r_released }}</span>/{{ r_total }}
	      P:<b title="Puzzles Solved">{{ team.p_solved }}</b>/<span title="Puzzles Released">{{ team.p_released }}</span>/{{ p_total }} <span title="Puzzles Released and Unsolved">({{ team.p_open }})</span>
	      I:<b title="Interactions Pending">{{ team.i_open }}</b>
	      S:<b title="Points Gained">{{ team.s_current }}</b>/{{ s_total }}
	      Q:<b title="Entries in Queue">{{ team.q_submissions }}</b>
	    </td>
	  </tr>
	  <tr>
	    <td>spades:</td>
	    <td class="{% if team.rounds.spades.solved %}msolved{% endif %}">
	      <img title="Spades" src="{% if team.rounds.spades.solved %}{% static "r_solved.png" %}{% elif team.rounds.spades.released %}{% static "r_released.png" %}{% else %}{% static "r_unreleased.png" %}{% endif %}" />
	      {% for puzzle in team.rounds.spades.puzzles %}
	      <img title="{{ puzzle.puzzle.name }}" src="{% if puzzle.solved %}{% static "p_solved.png" %}{% elif puzzle.released %}{% static "p_released.png" %}{% else %}{% static "p_unreleased.png" %}{% endif %}" />
	      {% endfor %}
	    </td>
	    <td>party:</td>
	    <td colspan="3" class="{% if team.rounds.tea_party.solved %}msolved{% endif %}">
	      <img title="The Tea Party" src="{% if team.rounds.tea_party.solved %}{% static "r_solved.png" %}{% elif team.rounds.tea_party.released %}{% static "r_released.png" %}{% else %}{% static "r_unreleased.png" %}{% endif %}" />
	      {% for puzzle in team.rounds.tea_party.puzzles %}
	      <img title="{{ puzzle.puzzle.name }}" src="{% if puzzle.solved %}{% static "p_solved.png" %}{% elif puzzle.released %}{% static "p_released.png" %}{% else %}{% static "p_unreleased.png" %}{% endif %}" />
	      {% endfor %}
	    </td>
	    <td>caucus:</td>
	    <td colspan="3" class="{% if team.rounds.caucus_race.solved %}msolved{% endif %}">
	      <img title="The Caucus Race" src="{% if team.rounds.caucus_race.solved %}{% static "r_solved.png" %}{% elif team.rounds.caucus_race.released %}{% static "r_released.png" %}{% else %}{% static "r_unreleased.png" %}{% endif %}" />
	      {% for puzzle in team.rounds.caucus_race.puzzles %}
	      <img title="{{ puzzle.puzzle.name }}" src="{% if puzzle.solved %}{% static "p_solved.png" %}{% elif puzzle.released %}{% static "p_released.png" %}{% else %}{% static "p_unreleased.png" %}{% endif %}" />
	      {% endfor %}
	    </td>
	  </tr>
	  <tr>
	    <td>clubs:</td>
	    <td class="{% if team.rounds.clubs.solved %}msolved{% endif %}">
	      <img title="Clubs" src="{% if team.rounds.clubs.solved %}{% static "r_solved.png" %}{% elif team.rounds.clubs.released %}{% static "r_released.png" %}{% else %}{% static "r_unreleased.png" %}{% endif %}" />
	      {% for puzzle in team.rounds.clubs.puzzles %}
	      <img title="{{ puzzle.puzzle.name }}" src="{% if puzzle.solved %}{% static "p_solved.png" %}{% elif puzzle.released %}{% static "p_released.png" %}{% else %}{% static "p_unreleased.png" %}{% endif %}" />
	      {% endfor %}
	    </td>
	    <td>turtle:</td>
	    <td colspan="3" class="{% if team.rounds.mock_turtle.solved %}msolved{% endif %}">
	      <img title="The Mock Turtle" src="{% if team.rounds.mock_turtle.solved %}{% static "r_solved.png" %}{% elif team.rounds.mock_turtle.released %}{% static "r_released.png" %}{% else %}{% static "r_unreleased.png" %}{% endif %}" />
	      {% for puzzle in team.rounds.mock_turtle.puzzles %}
	      <img title="{{ puzzle.puzzle.name }}" src="{% if puzzle.solved %}{% static "p_solved.png" %}{% elif puzzle.released %}{% static "p_released.png" %}{% else %}{% static "p_unreleased.png" %}{% endif %}" />
	      {% endfor %}
	    </td>
	    <td>knights:</td>
	    <td colspan="3" class="{% if team.rounds.knights.solved %}msolved{% endif %}">
	      <img title="The Red and White Knights" src="{% if team.rounds.knights.solved %}{% static "r_solved.png" %}{% elif team.rounds.knights.released %}{% static "r_released.png" %}{% else %}{% static "r_unreleased.png" %}{% endif %}" />
	      {% for puzzle in team.rounds.knights.puzzles %}
	      <img title="{{ puzzle.puzzle.name }}" src="{% if puzzle.solved %}{% static "p_solved.png" %}{% elif puzzle.released %}{% static "p_released.png" %}{% else %}{% static "p_unreleased.png" %}{% endif %}" />
	      {% endfor %}
	    </td>
	  </tr>
	  <tr>
	    <td>diamonds:</td>
	    <td class="{% if team.rounds.diamonds.solved %}msolved{% endif %}">
	      <img title="Diamonds" src="{% if team.rounds.diamonds.solved %}{% static "r_solved.png" %}{% elif team.rounds.diamonds.released %}{% static "r_released.png" %}{% else %}{% static "r_unreleased.png" %}{% endif %}" />
	      {% for puzzle in team.rounds.diamonds.puzzles %}
	      <img title="{{ puzzle.puzzle.name }}" src="{% if puzzle.solved %}{% static "p_solved.png" %}{% elif puzzle.released %}{% static "p_released.png" %}{% else %}{% static "p_unreleased.png" %}{% endif %}" />
	      {% endfor %}
	    </td>
	    <td>queen:</td>
	    <td colspan="3" class="{% if team.rounds.white_queen.solved %}msolved{% endif %}">
	      <img title="The White Queen" src="{% if team.rounds.white_queen.solved %}{% static "r_solved.png" %}{% elif team.rounds.white_queen.released %}{% static "r_released.png" %}{% else %}{% static "r_unreleased.png" %}{% endif %}" />
	      {% for puzzle in team.rounds.white_queen.puzzles %}
	      <img title="{{ puzzle.puzzle.name }}" src="{% if puzzle.solved %}{% static "p_solved.png" %}{% elif puzzle.released %}{% static "p_released.png" %}{% else %}{% static "p_unreleased.png" %}{% endif %}" />
	      {% endfor %}
	    </td>
	    <td>humpty:</td>
	    <td colspan="3" class="{% if team.rounds.humpty_dumpty.solved %}msolved{% endif %}">
	      <img title="Humpty Dumpty" src="{% if team.rounds.humpty_dumpty.solved %}{% static "r_solved.png" %}{% elif team.rounds.humpty_dumpty.released %}{% static "r_released.png" %}{% else %}{% static "r_unreleased.png" %}{% endif %}" />
	      {% for puzzle in team.rounds.humpty_dumpty.puzzles %}
	      <img title="{{ puzzle.puzzle.name }}" src="{% if puzzle.solved %}{% static "p_solved.png" %}{% elif puzzle.released %}{% static "p_released.png" %}{% else %}{% static "p_unreleased.png" %}{% endif %}" />
	      {% endfor %}
	    </td>
	  </tr>
	  <tr id="team_log1_{{ team.team.url }}" class="log1">
	    <td colspan="6">
	      Last Log Entry:
	      {{ team.log1.timestamp|date:'D H:i:s' }}: {{ team.log1.message }}
	    </td>
	  </tr>
	  <tr id="team_logn_{{ team.team.url }}" class="logn" style="display: none;">
	    <td colspan="6">
	      Recent Log Entries:<br />
	      {% for log in team.logn %}
	      {{ log.timestamp|date:'D H:i:s' }}: {{ log.message }}<br />
	      {% endfor %}
	    </td>
	  </tr>
	</table>
	<script type="text/javascript">
	  $('#team_log1_{{ team.team.url }}').click(function () {
	    $('#team_log1_{{ team.team.url }}').hide()
	    $('#team_logn_{{ team.team.url }}').show()
	  });
	  $('#team_logn_{{ team.team.url }}').click(function () {
	    $('#team_logn_{{ team.team.url }}').hide()
	    $('#team_log1_{{ team.team.url }}').show()
	  });
	</script>
      </div>
      <script type="text/javascript">
	$('#team_{{ team.team.url }}').hover(function () {
          $('#team_{{ team.team.url }}').css("background-color", "#ffa");
	}, function () {
          $('#team_{{ team.team.url }}').css("background-color", "");
	});
      </script>
      {% endfor %}
    </div>
  </body>
</html>
