<html>
  <head>
    <meta http-equiv="refresh" content="8">
    <style type="text/css">
      body, td, input {
        font: 10pt Verdana;
      }
      table {
        border-collapse: collapse;
        padding: 0px;
        margin: 0px;
      }
      td, th {
        vertical-align: top;
        padding: 2px 8px;
        overflow: hidden;
        white-space: nowrap;
      }
      th {
        font: 10pt Verdana bold;
        text-align: left;
      }
    </style>
  </head>
  <body>
    <div>
      <div style="float: right;">
	<a href="/">Back to HQ Main</a>
      </div>
      <em>(This may be a minute or two behind, last updated {{ updated|date:'D H:i' }})</em>
      <form style="display: inline;">
	<label for="auto-refresh">
	  (auto-refresh:<input id="auto-refresh" type="checkbox" name="auto-refresh" checked/>)
	</label>
      </form>
    </div>
    <table>
    <tr><th>Time
      <th>Event Type
      <th>Message
      <th>Team
      <th>Object ID
    </tr>
    {% for e in entries %}
    <tr><td>{{ e.timestamp|date:'D H:i:s' }}
      <td>{{ e.event_type }}
      <td>{{ e.message }}
      <td>{{ e.team }}
      <td>{{ e.object_id }}
    </tr>
    {% endfor %}
    </table>
    <script type="text/javascript">
      function r() {
        var ar = document.getElementById("auto-refresh");
        if (ar.checked)
          window.location.reload(true);
      }
      setInterval(r, 30000);
    </script>
  </body>
</html>
