{% load humanize %}
<html>
  <head>
    <meta http-equiv="refresh" content="8">
    <style type="text/css">
      body, td, input {
        font: 10pt Verdana;
      }
      table {
        border-collapse: collapse;
        padding: 0px;
        margin: 0px;
      }
      td, th {
        vertical-align: top;
        padding: 2px 8px;
        overflow: hidden;
        white-space: nowrap;
      }
      th {
        font: 10pt Verdana bold;
        text-align: left;
      }
    </style>
  </head>
  <body>
    <div style="float: right;">
      <a href="/">Back to HQ Main</a>
    </div>
    <em>(This may be a minute or two behind)</em>
    </div>
    <table>
    <tr><th>Time
      <th>Event Type
      <th>Message
      <th>Team
      <th>Object ID
    </tr>
    {% for e in entries %}
    <tr><td>{{ e.timestamp|date:'D H:i:s' }}
      <td>{{ e.event_type }}
      <td>{{ e.message }}
      <td>{{ e.team }}
      <td>{{ e.object_id }}
    </tr>
    {% endfor %}
    </table>
  </body>
</html>
