{% load humanize %}
<html>
  <head>
    <!--<meta http-equiv="refresh" content="8">-->
    <style type="text/css">
      body, td, input {
        font: 10pt Verdana;
      }
      table {
        border-collapse: collapse;
        padding: 0px;
        margin: 0px;
      }
      td {
        vertical-align: top;
        padding: 2px 6px 2px 0px;
        overflow: hidden;
        white-space: nowrap;
      }
    </style>
  </head>
  <body>
    <div style="text-align: right;">
      {% if handler %}
      Signed in as {{ handler.name }}:
      <form action="." method="POST" style="display: inline;">
	{% csrf_token %}
	<input type="hidden" name="offduty" value="true" />
	<input type="submit" value="I'm off duty" />
      </form>
      {% else %}
      <form action="." method="POST" style="display: inline;">
	{% csrf_token %}
	Observing only.  Enter an email address here to sign in as a handler:
	<input id="email" type="text" size="30" name="email" />
	<input type="submit" value="Go" />
      </form>
      {% endif %}
    </div>
    <div>
      {{ t_total }} teams hunting,
      {{ q_teams }} in the queue,
      {{ q_total }} submission(s) among them
    </div>
    {% for t in teams %}
    <div style="padding: 3px; border-top: 1px solid black; {% if t.oldest > 600 %}background: #faa;{% elif t.oldest > 300 or t.submissions >= tq_max %}background: #ffa;{% endif %}">
      <b>{{ t.team.name }}</b>
      <div style="padding-left: 30px;">
	{% if t.oldest > 600 %}
	<b>Waiting for more than ten minutes!</b><br/>
	{% elif t.oldest > 300 %}
	<b>Waiting for more than five minutes!</b><br/>
	{% endif %}
	{% if t.submissions|length >= tq_max %}
	<b>Queue is filled!</b><br/>
	{% endif %}
	<table>
	  {% for s in t.submissions %}
	  <tr><td style="width: 100px;">{{ s.timestamp|naturaltime|capfirst }}:
	    <td style="width: 100px;">{% if s.type == "puzzle" %}
	      Puzzle
	      {% elif s.type == "metapuzzle" %}
	      Metapuzzle
	      {% comment %} 2014-specific... {% endcomment %}
	      {% elif s.type == "mit-metapuzzle" %}
	      MIT Bait
	      {% comment %} ...end 2014-specific {% endcomment %}
	      {% endif %}
	    <td><i>{{s.thing}}</i>
	  </tr>
	  {% endfor %}
	</table>
      </div>
      {% if handler %}
      <div style="text-align: right;">
	<form action="." method="POST" style="display: inline;">
	  {% csrf_token %}
	  <input type="hidden" name="claim" value="{{t.team.url}}" />
	  <input type="submit" value="I'm on it." />
	</form>
      </div>
      {% endif %}
    </div>
    {% endfor %}
    <script type="text/javascript">
      function r() {
        {% if not handler %}
        if (document.activeElement.id == 'email')
          return;
        {% endif %}
        window.location.reload(true);
      }
      setInterval(r, 10000);
    </script>
  </body>
</html>
