{% load humanize %}
<html>
  <head>
    <!--<meta http-equiv="refresh" content="8">-->
    <style type="text/css">
      body, td, input {
        font: 10pt Verdana;
      }
      table {
        border-collapse: collapse;
        padding: 0px;
        margin: 0px;
      }
      td {
        vertical-align: top;
        padding: 2px 6px;
      }
    </style>
  </head>
  <body>
    <div style="text-align: right;">
      {% if handler %}
      Signed in as {{ handler.name }}:
      <form action="." method="POST" style="display: inline;">
	{% csrf_token %}
	<input type="hidden" name="offduty" value="true" />
	<input type="submit" value="I'm off duty" />
      </form>
      {% else %}
      <form action="." method="POST" style="display: inline;">
	{% csrf_token %}
	Observing only.  Enter an email address here to sign in as a handler:
	<input id="email" type="text" size="30" name="email" />
	<input type="submit" value="Go" />
      </form>
    {% endif %}
    </div>
    <table>
      {% for t in teams %}
      <tr><td>{{ t.team.name }}
	<td style="padding: 0px;">
	  <table>
	    {% for s in t.submissions %}
	    <tr><td>{{ s.timestamp|naturaltime }}
	      <td>{% if s.type == "puzzle" %}
		Puzzle Answer
		{% elif s.type == "metapuzzle" %}
		Metapuzzle Answer
		{% comment %} 2014-specific... {% endcomment %}
		{% elif s.type == "mit-metapuzzle" %}
		MIT Bait
		{% comment %} ...end 2014-specific {% endcomment %}
		{% endif %}
	      <td><i>{{s.thing}}</i>
	    </tr>
	    {% endfor %}
	  </table>
      </tr>
      {% endfor %}
    </table>
    <script type="text/javascript">
      function r() {
        {% if not handler %}
        if (document.activeElement.id == 'email')
          return;
        {% endif %}
        window.location.reload(true);
      }
      setInterval(r, 10000);
    </script>
  </body>
</html>
