{% load humanize %}
<html>
  <body>
  <div style="
    white-space: nowrap;
    overflow-x: hidden;
">
    Team: {{ team.name }}<br>
    Puzzle: {{ puzzle.name }}<br>
    <form action="." method="POST">
      {% csrf_token %}
      <input type="submit" value="Submit" style="float: right;">
      <input type="text" name="answer" size="40">
      <table>
	<tr><th>Answer Attempt
	    <th>Time
	    <th>In Queue
        {% for a in answers %}
	<tr><td>{{ a.answer }}
	    <td>{{ a.timestamp|naturaltime }}
	    <td>{% if not a.resolved %}Yes{% else %}No{% endif %}
	      {% endfor %}
      </table>
      </div>
    </form>
  </div>
</body>
</html>
