{% load humanize %}
<html>
  <body>
    <div style="white-space: nowrap;">
      Team: {{ team.name }}<br>
      {% for m in solved %}
      {{ m.name }} took the bait: <b>{{ m.answer }}</b><br>
      {% endfor %}
      {% if notdone %}
      {% if q_full2 %}
      Your team has reached the per-item queue limit ({{ q_lim2 }}).<br/>
      Try again after those have been resolved.
      {% elif q_full1 %}
      Your team has reached the overall queue limit ({{ q_lim1 }}).<br/>
      Try again after those have been resolved.
      {% else %}
      <form action="." method="POST">
	{% csrf_token %}
	Bait: <input id="answer" type="text" name="answer" size="38" autofocus><br />
	Phone: <select name="phone">
	  {% for p in team.teamphone_set.all %}
	  <option value="{{ p.phone }}">{{ p.phone }}</option>
	  {% endfor %}
	</select>
	<input type="submit" value="Submit">
      </form>
      <script type="text/javascript">
	window.onload = function() {
          document.getElementById("answer").focus()
	};
      </script>
      {% endif %}
      {% endif %}
      {% if answers %}
      {% if unresolved %}
      <hr/>
      In the Queue:
      <table>
	<tr><th>Time
	  <th>Attempt
	</tr>
        {% for a in answers %}
	{% if not a.resolved %}
	<tr>
	  <td>{{ a.timestamp|naturaltime }}:
	  <td>{{ a.answer }}
	</tr>
	{% endif %}
	{% endfor %}
      </table>
      {% endif %}
      {% if resolved %}
      <hr/>
      Previous Attempts:
      <table>
	<tr><th>Time
	  <th>Attempt
	</tr>
        {% for a in answers %}
	{% if a.resolved %}
	<tr>
	  <td>{{ a.timestamp|naturaltime }}:
	  <td>{{ a.answer }}
	</tr>
	{% endif %}
	{% endfor %}
      </table>
      {% endif %}
      {% endif %}
    </div>
  </body>
</html>
