{% load humanize %}
<html>
  <body>
    <div style="white-space: nowrap; overflow-x: hidden;">
      Team: {{ team.name }}<br>
      {% for m in solved %}
      {{ m.name }} baited! Bait: <b>{{ m.answer }}</b><br>
      {% endfor %}
      {% if notdone %}
      <form action="." method="POST">
	{% csrf_token %}
	Bait: <input type="text" name="answer" size="38"><br />
	Phone: <select name="phone">
	  {% for p in team.teamphone_set.all %}
	  <option value="{{ p.phone }}">{{ p.phone }}</option>
	  {% endfor %}
	</select>
	<input type="submit" value="Submit">
      </form>
      {% endif %}
      {% if answers %}
      <table>
	<tr><th>Bait Attempt
	  <th>Time
	  <th>In Queue
	</tr>
        {% for a in answers %}
	<tr><td>{{ a.answer }}
	  <td>{{ a.timestamp|naturaltime }}
	  <td>{% if not a.resolved %}Yes{% else %}No{% endif %}
	</tr>
	{% endfor %}
      </table>
      {% endif %}
    </div>
  </body>
</html>
