{% load humanize %}
<html>
  <body>
    <div style="white-space: nowrap;">
      Team: {{ team.name }}<br>
      {% if q_full2 %}
      Your team has reached the contact-hq queue limit ({{ q_lim2 }}).<br/>
      Try again after those have been resolved.
      {% else %}
      <form action="." method="POST">
	{% csrf_token %}
	Reason (briefly): <input id="comment" type="text" name="comment" size="38" autocomplete="off" autofocus><br />
	Phone: <select name="phone">
	  {% for p in team.teamphone_set.all %}
	  <option value="{{ p.phone }}">{{ p.phone }}</option>
	  {% endfor %}
	</select>
	<input type="submit" value="Submit">
      </form>
      <script type="text/javascript">
	window.onload = function() {
          document.getElementById("comment").focus()
	};
      </script>
      {% endif %}
      {% if requests %}
      <hr/>
      In the Queue:
      <table>
	<tr><th>Time
	  <th>Reason
	</tr>
        {% for a in requests %}
	<tr>
	  <td>{{ a.timestamp|naturaltime }}:
	  <td>{{ a.comment }}
	</tr>
	{% endfor %}
      </table>
      {% endif %}
    </div>
  </body>
</html>
